<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="jumbotron">
        <img src="https://camo.githubusercontent.com/1a4b11888ddf9f2b7a9353d6b69503e634e8704c/68747470733a2f2f692e696d6775722e636f6d2f415975745a4f462e706e67"
            alt="Pokédex" style="width:40%;height:40%;" class="rounded mx-auto d-block">
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <table class="table table-hover">
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokemons">
                    <td><img src="{{pokemon.image}}"></td>
                    <td> {{pokemon.number}} </td>
                    <td> {{pokemon.name | uppercase }} </td>
                    <td> {{pokemon.types}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>